{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}

{% block title %}
  frōntensō-11ty-starter
{% endblock %}

{% block content %}
  <div class="page-home page">
    <div class="container main">
      <div class="main__layer main__layer--1">
        <div class="main__text main__text--1">
          <span class="main__el main__el--1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cumque est ipsam nemo accusamus doloribus ea quas saepe ipsum deleniti. At sapiente tenetur aliquam inventore quae est natus quisquam modi?
            Magni inventore impedit vero temporibus
          </span>
        </div>
        <div class="main__text main__text--2">
          <span class="main__el main__el--2">
            DFGRTHJ56Y56YHRTHBTHRT
          </span>
        </div>
        <div class="main__text main__text--3">
          <span class="main__el main__el--3">
            HRTHRHTR65B64V56GFC4565B45VB 45645G64GV 4VT45V45TV45VT
          </span>
        </div>
        <div class="main__text main__text--4">
          <span class="main__el main__el--4">
            47 8NRV485VTBY84 NT845NV84Y BN84YV84 YN489YNV 89 4YN 84YM5 8954YN 84YN 8TY45N 8TY498TY N8549YTN 894YN 58Y N89Y5 TN Y4 NT
          </span>
        </div>
      </div>
      <div class="main__layer main__layer--2">
        <div class="main__text main__text--5">
          <span class="main__el main__el--5">
            OIRENUTVC84U 8 I4C95TIJ495T945 945NV8N4V589CNTU489 NYT485 NY84TY N8945CYVN8945Y N894Y5NTCV984YN T8Y4
            INFCVUER8 84YFNCV48YCVB894NCY84Y94YCV57BTY N4547CNV897 N8947 89T7N8 C 789N745 897T8495 TN84Y5 G4Y5G Y485GY4
          </span>
        </div>
        <div class="main__text main__text--6">
          <span class="main__el main__el--6">
            M3C 9RI39MI394 RUM34UCR VN39UMC
          </span>
        </div>
        <div class="main__text main__text--7">
          <span class="main__el main__el--7">
            3OMCIR90 3MI9 3UN 8U3N89C 893 NV8RY3CN89CY R3984CY N893N CRSDF
          </span>
        </div>
        <div class="main__text main__text--8">
          <span class="main__el main__el--8">
            3EM3N9CU9RU3C 8RU43 8YRB83 Y83NY CV893N YR89 3Y4NR CV3498N R
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
